html {
    background-color: #E5E5E5;
    margin-bottom: 1900px;
}

#welcome {
    text-align: center;
    position: absolute;
    width: 125px;
    height: 35px;
    left: 714px;
    top: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 35px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#image {
    position: absolute;
    width: 500px;
    height: 531px;
    left: 92px;
    top: 196px;
}

#who {
    position: absolute;
    width: 174px;
    height: 35px;
    left: 795px;
    top: 179px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.form {
    position: absolute;
    width: 900px;
    height: 657px;
    left: 151px;
    top: 890px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px 50px 30px 75px;
    margin-bottom: 50px;
}

input {
    width: 690px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid #0D0C0C;
}

#contact {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
}

input,
label {
    display: block;
    flex-direction: column;
}

label {
    font-size: 20px;
    line-height: 50px;
}

#message {
    height: 160px;
}

#border {
    position: absolute;
    width: 67.5px;
    height: 0px;
    left: 840px;
    top: 240px;
    border: 3px solid #D89616;
}

.para-one {
    position: absolute;
    width: 513px;
    height: 168px;
    left: 751px;
    top: 301px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

.para-two {
    position: absolute;
    width: 513px;
    height: 168px;
    left: 751px;
    top: 487px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

button {
    position: absolute;
    width: 217px;
    height: 40px;
    left: 524px;
    top: 629px;
    background: rgba(0, 77, 230, 0.76);
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: white;
}